;; compiler configuration for cljs-repl
;; https://clojurescript.org/reference/compiler-options
{:asset-path "js/out"
 :output-to "resources/public/js/sketchbook.js"
 :output-dir "resources/public/js/out"
 :main {{raw-name/ns}}.sketchbook}
