;; configuration for a figwheel-main dev build
;; https://figwheel.org/docs/create_a_build.html
;; ie clojure -M:fig -b dev --repl
{:asset-path "cljs-out/dev"
 :output-to "target/public/js/main.js"
 :output-dir "target/public/cljs-out/dev"
 :main {{top/ns}}.{{main/ns}}}
