(ns {{raw-name/ns}}.sketchbook
    (:require [{{raw-name/ns}}.rotating-ball :as rotating-ball]))

;; execute run-sketch the first time this file is loaded
(defonce startup (rotating-ball/run-sketch))
